body{
    margin: 0;
    padding: 0;
    background-color: #eee;
    height: 100dvh;
    padding: 3%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main{
    position: relative;
    height: 100%;
    width: 100%;
}

main .border{
    border: 12px dashed black;
    width: 40%;
    height: 40%;
    position: absolute;
}

.border.top-left{
    border-top-left-radius: 10px;
    border-bottom: 0;
    border-right: 0;
    top: 0;
    left: 0;
}

.border.bottom-right{
    border-top: 0;
    border-left: 0;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 10px;
}

article{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    scroll-behavior: smooth;
}

.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 40%;
}


.left-side .link{
    padding: 30px;
    width: 100%;    
    background-color: #DFDFDF;
    box-shadow: 0 0 21px -3px #00000044;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    display: flex;
    gap:20px;
    font-size: 14px;
    align-items: center;
    font-weight: bold;
    transition: 0.2s;
    outline: 0px solid #90909088;
    overflow: hidden;
    white-space: nowrap;
}


.link span{
    text-overflow: ellipsis;
}

.left-side .link:hover, .left-side .link:focus{
    transform: scale(0.96);
}



.left-side i {
    font-size: 25px;
}

.right-side{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}


.right-side h1{
    font-size: 50px;
    font-weight: 900;
  
    text-align: center;
}

.right-side h2{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.right-side img.me{
    width: 300px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 21px -3px #00000044;
    
}


.scroll-button{
    position: absolute;
    bottom: 40px;
    right: 40px;
    display: none;
    padding: 10px;
    font-size: 30px;
    aspect-ratio: 1/1;
    width: 70px;
    align-items: center;
    justify-content: center;
    height: 70px;
    cursor: pointer;
    background-color: #eee;
    border: 5px solid black;
    border-radius: 15px;
    transition: outline-width 0.1s;
    outline: 0 #00000044 solid;
}

.scroll-button i{
    transition: transform 0.3s;
}

.scroll-button:hover, .scroll-button:focus{
    outline-width: 5px;
}

@media (max-width: 1000px){
    article{
        flex-direction: column;
        overflow: scroll;
        align-items: center;
        justify-content: flex-start;
        scroll-snap-type: y mandatory;
    }
    article::-webkit-scrollbar{
        width: 0;
        height: 0;
    }
    .left-side{
        width: 90%;
    }
    article > div{
        min-height: 100%;
        scroll-snap-align: center;
    }
    .scroll-button{
        display: inline-flex;
    }
    .right-side{
        width: 100%;
    }

}


.technology-icons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.technology-icons img{
    width: 30px;
    height: 30px;
}

.technology-icons div{
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px black;

}